<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lab8music.mapper.UserMapper">
    <select id="searchByNamePassword" resultType="com.example.lab8music.entity.User">
        select * from user where #{username}=username and #{password}=password;
    </select>
</mapper>